@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/gilroy//Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --primary-color: #0065fe;
  --secondary-color: #005ae2;
  --text-color: #141414;
  --background-color: #f9fbfd;
  --white-color: #fff;
  --light-black: rgba(0, 0, 0, 0.1);
}

.hero-section-4{
  padding: 3rem 0 2rem 0;
}

.hero-section-4 .container.text-content{
  display: flex;
  align-items: center;
  gap: 2rem;
  border: 2px solid green;
}

.container.text-content .text-content-2 .subText-content{
  display: flex;
  border: 2px solid blue;
  gap: 2rem;
  margin: 20px auto;
}

@media(max-width: 750px){
.hero-section-4 .container.text-content
 , .container.text-content .text-content-2 .subText-content{
  flex-direction: column;
}
}