@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/gilroy//Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --primary-color: #0065fe;
  --secondary-color: #005ae2;
  --text-color: #141414;
  --background-color: #f9fbfd;
  --white-color: #fff;
  --light-black: rgba(0, 0, 0, 0.1);
}

.hero-section-5 .priceText-content {
  border: 2px solid red;
  max-width: 576.1px;
  margin: 0 auto;
}

.hero-section-5 .priceText-content p,
.hero-section-5 .priceText-content h3 {
  text-align: center;
}

.hero-section-5 .priceBox-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid red;
}

.hero-section-5 .priceBox-content .priceBox{
   display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid var(--primary-color);
  padding: 24px 98px 45px 87px;
}

.hero-section-5 .priceBox-content .priceBox:first-child,
.hero-section-5 .priceBox-content .priceBox:last-child{
  /* width: 379px; */
  height: 300px;
}

.hero-section-5 .priceBox-content .priceBox:nth-child(2) {
  /* width: 400px; */
 height: 450px;
 background:linear-gradient(180deg, #1E3448 99.99%, rgba(30, 52, 72, 0) 100%);
  border-radius: 12px;
}

@media(max-width:800px){
  .hero-section-5 .priceBox-content {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero-section-5 .priceBox-content .priceBox{
  width: 100%;
}
}