@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/gilroy//Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --primary-color: #0065fe;
  --secondary-color: #005ae2;
  --text-color: #141414;
  --background-color: #f9fbfd;
  --white-color: #fff;
  --light-black: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  /* width: calc(100% - (2 * 2rem)); */
  /* width: 100%; */
  width: 300px;
}

li {
  list-style-type: none;
}

/* start of header */
.header.desktop-screen {
  display: none;
}

/* hero-section-4 */
.subText-content .subText img, .priceBox img, .btn-input img{
  width: 20px;
}

/* Start of main */
.main-container,
.hero-section-2,
.hero-section-3,
.hero-section-4,
.hero-section-6 {
  width: 100%;
  overflow: hidden;
  border: 2px solid blue;
}


/* Tablet, Desktop Responsivenss */
@media screen and (min-width: 800px) {
  /* Start of main */
  main {
    width: 100%;
    overflow: hidden;
  }
  .container {
    width: 100%;
    max-width: 1100px;
    overflow: hidden;
    border: 2px solid red;
  }
}

@media (max-width: 920px) {

}

@media (max-width: 650px) {
}

@media (max-width: 550px) {

}

@media (max-width: 450px) {
  
}

@media (max-width: 365px) {
  
}
