@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/gilroy//Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --primary-color: #0065fe;
  --text-color: #141414;
  --background-color: #f9fbfd;
  --white-color: #fff;
  --light-black: rgba(0, 0, 0, 0.1);
}

/* Start of header */
header {
   width: 100%;
  background-image:  url("../images/hero-section-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  box-shadow: 0 2px 4px var(--light-black);
  padding: 0 1rem 1rem 1rem;
  overflow: hidden;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}
header .active{
  color: var(--primary-color);
}

.header.mobile-screen {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 10px;
}

.header.mobile-screen nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header nav ul li:nth-child(2) span {
  position: relative;
}

.header nav ul li:nth-child(2) {
  margin-bottom: 0;
  transition: margin-bottom 0.3s;
}

.header nav ul li:nth-child(2) span .hover-text {
  position: absolute;
  top: 20px;
  right: -1rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  background-color: var(--background-color);
  padding: 5px;
  opacity: 0;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.header nav ul li:nth-child(2):hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.header.mobile-screen nav ul li:nth-child(2):hover {
  margin-bottom: 5rem;
}

.hamburger-checkbox {
  display: none;
}

.hamburger,
.close-icon {
  cursor: pointer;
}

.hamburger {
  display: flex;
}

.close .nav-links {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 100%;
  background-color: var(--background-color);
  text-align: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.close-icon {
  display: none;
  position: fixed;
  top: 30px;
  right: 20px;
  z-index: 999;
}

.hamburger-checkbox:checked ~ .hamburger {
  display: none;
}

.hamburger-checkbox:checked ~ .close .close-icon {
  display: block;
  z-index: 999;
}

.hamburger-checkbox:checked ~ .close .nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 70%;
  height: 100%;
  background-color: var(--background-color);
  z-index: 1;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
  opacity: 1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-content {
  display: flex;
  gap: 1em;
}

.header .logo {
  padding: 8px 0px 0px 0px;
}

.header .logo img {
  height: 50px;
  width: 200px;
}

.login-content{
    display: flex;
    align-items: center;
}

.login-content button {
  font-family: "Gilroy-SemiBold", sans-serif;
  font-size: 16px;
  line-height: 18.75px;
}

.login-content button:first-child {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-content button:last-child {
  padding: 10px 5px;
  border-radius: 100px;
  background-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--white-color);
  white-space: nowrap;
}
/* End of Header */

/* Tablet, Desktop Responsivenss */
@media screen and (min-width: 800px) {
  /* Header Responsiveness */
  .header.mobile-screen {
    display: none;
  }
  .header.desktop-screen {
    display: flex;
    padding-top: 1rem;
  }
  .header {
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding-bottom: 1rem;
  }
  .header nav ul li:nth-child(2) span .hover-text {
  position: absolute;
  top: 20px;
  right: -1rem;
}
.header.desktop-screen nav ul li:nth-child(2):hover {
  margin-bottom: 2rem;
}
  nav ul {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    width: auto;
    height: auto;
    white-space: nowrap;
  }
  /* End of Header min-width responsiveness*/
}