@font-face {
  font-family: "Gilroy-Regular";
  src: url("./fonts/gilroy/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./fonts/gilroy//Gilroy-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("./fonts/gilroy/Gilroy-Bold.ttf") format("truetype");
  font-style: normal;
}

:root {
  --primary-color: #0065fe;
  --secondary-color: #005ae2;
  --text-color: #141414;
  --background-color: #f9fbfd;
  --white-color: #fff;
  --light-black: rgba(0, 0, 0, 0.1);
  --faq-item:  #e0e0e0;
}

/* FAQ Section Styles */
.faqs {
  max-width: 900px;
  margin: 4rem auto;
  padding: 2rem;
}

.faqs .heading-text {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.faqs h2 {
  font-size: 2rem;
  position: relative;
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 40px;
  line-height: 32px;
  text-align: left;
}

.faqs h2::before {
  content: url("../images/Line.png");
  position: absolute;
  text-align: center;
  left: -10px;
  top: 0;
}

.faq-item {
  border-bottom: 1px solid var(--faq-item);
  margin-bottom: 1rem;
}

.faq-toggle {
  display: none;
}

.faq-question {
  cursor: pointer;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 20px;
  line-height: 32px;
  text-align: left;
}

.faq-question::after {
  content: "+";
  font-size: 1.5rem;
}

.faq-toggle:checked + .faq-question::after {
  content: "-";
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  font-family: "Gilroy-Medium", sans-serif;
  font-size: 16px;
  line-height: 32px;
  text-align: left;
}

.faq-toggle:checked ~ .faq-answer {
  max-height: 1000px;
  transition: max-height 0.5s ease;
}
