* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #fff;
}

.main-container {
  padding: 10px 20px 0 20px;
  width: 100%;
  overflow: hidden;
}

.sub-container {
  background-color: rgba(134, 128, 192, 0.5);
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}

.parent-container {
  margin: 30px auto 10px auto;
  padding-left: 7px;
  padding-right: 10px;
  width: 70%;
  position: relative;
}

.picture-container img{
  width: 100%;
    height: 500px;
}

.whiteText-container {
  background-color: #fff;
  padding: 5vh 3rem 4rem 3rem;
  margin-top: -5px;
}

.whiteText-container h1 {
  font-size: 35px;
  margin-bottom: 20px;
}

.whiteText-container h1 span {
  color: rgba(128, 128, 128, 0.904);
  font-size: 24px;
  font-weight: 900;
}

.whiteText-container p {
  font-size: 27px;
  width: 100%;
  max-width: 1000px;
  text-align: left;
}

.text-container {
  background-color: rgba(250, 250, 144, 0.842);
  position: absolute;
  top: 15px;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 2rem 10px 0; 
  border-radius: 0 100px 100px 0; 
  z-index: 99;
  width: 100%;
  max-width: 350px;
}

.text-container p {
  font-weight: 700;
  font-size: 30px;
}

footer{
  /* padding-top: 0; */
  background-color: rgba(134, 128, 192, 0.5);
  padding: 1rem;
}

.btns {
  display: flex;
  justify-content: space-between;
   width: 100%;
    max-width: 870px;
    margin: 0 auto;
  /* padding: 1rem 1rem 1rem 1rem; */

}

.btns button {
  background: transparent;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  background-color: #fff;
}

button a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  position: relative;
  transition: 0.3s linear, color 0.2s ease-in;
}

button a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background-color: #000;
  bottom: -3px;
  transition: 0.3s linear;
  transform: translateX(2px);
}

button a:hover::before {
  width: 100%;
}

button a span {
    display: none;
    color: rgb(26, 26, 27);
    transition: 0.3s ease-in-out, transform 0.6s ease-in;
  }

 button a:hover span {
  display: inline-flex;
}

@media (max-width: 850px) {
     body {
    padding: 0;
  }
  .parent-container {
    width: 96%;
  }
  
  .text-container {
    width: 50%;
  padding: 15px 40px 15px 0; 
  }
  .text-container p {
  font-size: 25px;
}
}

@media (max-width: 650px) {
  .picture-container img {
    height: 400px;
  }

  .whiteText-container h1 {
    font-size: 30px;
  }

  .whiteText-container p {
  font-size: 27px;
  width: 100%;
}

  .whiteText-container h1 span {
    font-size: 20px;
  }
  .text-container {
    width: 55%;
  padding: 10px 30px 10px 0; 
  }

  .text-container p {
  font-size: 18px;
}
}

@media (max-width: 450px) {
  .picture-container {
    min-height: 70vh;
  }
  .whiteText-container h1 {
    font-size: 30px;
  }

  .whiteText-container p {
  font-size: 27px;
  width: 100%;
}

  .whiteText-container h1 span {
    font-size: 12px;
  }
  .text-container {
    width: 65%;
  padding: 20px 40px 20px 0; 
  }
  .text-container p {
  font-size: 14px;
}
}
